{% extends 'base.html' %}

{% block content %}
<div class="d-grid gap-2 rounded mx-3 my-3 px-5 py-4 bg-primary bg-opacity-25 shadow p-3 mb-5 rounded">
  <a href="{% url 'eithers:index' %}" class="text-end text-decoration-none">X</a>
  <br>
  <form action="{% url 'eithers:create' %}" method="POST">
    {% csrf_token %}
    {% comment %} {{ form.as_p }} {% endcomment %}
    <div class="row mb-3">
      <label for="title" class="col-2 form-label"><b>TITLE</b></label>
      <div class="col-10">
        <input type="text" class="form-control" id="title" name="title">
      </div>
    </div>
    <div class="row mb-3">
      <label for="issue_a" class="col-2 form-label"><b>항목 A</b></label>
      <div class="col-10">
        <input type="text" class="form-control" id="issue_a" name="issue_a">
      </div>
    </div>
    <div class="row mb-3">
      <label for="issue_b" class="col-2 form-label"><b>항목 B</b></label>
      <div class="col-10">
        <input type="text" class="form-control" id="issue_b" name="issue_b">
      </div>
    </div>

    <input type="submit" class="btn btn-primary offset-10 col-2" value="Submit">
  </form>
</div>
{% endblock content %}


